<section class="section cv-section" id="cv">
  <h1>{{ "cv.title" | translate }}</h1>

  <div class="timeline-container">
    <div class="timeline-wrapper">
      <div
        *ngFor="let item of timelineItems; let i = index"
        class="timeline-item"
        [ngClass]="{
          'timeline-item-right': i % 2 !== 0,
          'timeline-item-left': i % 2 === 0,
          beruf: isTypeWorkExperience(item.typeKey),
          ausbildung: isTypeEducation(item.typeKey)
        }"
      >
        <div class="timeline-dot"></div>
        <div class="timeline-content">
          <span class="timeline-date">
            {{ item.date }}
            <ng-container *ngIf="item.isCurrent">{{
              "common.today" | translate
            }}</ng-container>
          </span>
          <h3 class="timeline-title">{{ item.titleKey | translate }}</h3>
          <p class="timeline-description">
            {{ item.descriptionKey | translate }}
          </p>
          <span class="timeline-type-badge">{{
            item.typeKey | translate
          }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
