<section id="contact" class="section">
  <h1 *ngIf="!isFormVisible">{{ "contact.interestPrompt" | translate }}</h1>

  <div class="button" *ngIf="!isFormVisible">
    <button
      (click)="showContactForm()"
      [attr.aria-label]="'contact.openFormButton.ariaLabel' | translate"
    ></button>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div *ngIf="isFormVisible" class="form-container">
    <h2>{{ "contact.form.title" | translate }}</h2>
    <form class="form" action="https://formspree.io/f/mblgweod" method="POST">
      <div style="display: none">
        <label for="website">{{
          "contact.form.spamProtection" | translate
        }}</label>
        <input
          type="text"
          name="_gotcha"
          id="website"
          tabindex="-1"
          autocomplete="off"
        />
      </div>

      <div class="form-group">
        <label for="email">{{ "contact.form.emailLabel" | translate }}</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          autocomplete="email"
        />
      </div>
      <div class="form-group">
        <label for="textarea">{{
          "contact.form.messageLabel" | translate
        }}</label>
        <textarea
          name="message"
          id="textarea"
          rows="10"
          cols="50"
          required
          autocomplete="off"
        ></textarea>
      </div>
      <button class="form-submit-btn" type="submit">
        {{ "contact.form.submitButton" | translate }}
      </button>
    </form>
  </div>
</section>
