<section class="section" id="interests">
  <h1>In meiner Freizeit</h1>
  <div>
    <div class="wrapper">
      <div class="inner" style="--quantity: 10">
        <div
          class="card"
          style="--index: 0; --color-card: 142, 249, 252; --text-color: #000"
        >
          <a (click)="scrollToContact()">
            <div class="img"></div>
            <div class="card-text">???</div>
          </a>
        </div>
        <div
          class="card"
          style="--index: 1; --color-card: 142, 252, 204; --text-color: #000"
        >
          <a
            href="https://open.spotify.com/intl-de/track/6Ec5LeRzkisa5KJtwLfOoW"
            target="_blank"
          >
            <div class="img"></div>
            <div class="card-text">Musik</div>
          </a>
        </div>
        <div
          class="card"
          style="--index: 2; --color-card: 142, 252, 157; --text-color: #000"
        >
          <a href="https://www.chess.com/home" target="_blank">
            <div class="img"></div>
            <div class="card-text">Schach</div>
          </a>
        </div>
        <div
          class="card"
          style="--index: 3; --color-card: 215, 252, 142; --text-color: #000"
        >
          <a href="https://coinmarketcap.com/de/" target="_blank">
            <div class="img"></div>
            <div class="card-text">Finance</div>
          </a>
        </div>
        <div
          class="card"
          style="--index: 4; --color-card: 252, 252, 142; --text-color: #000"
        >
          <a href="https://www.ea.com/de-de/games/ea-sports-fc" target="_blank">
            <div class="img"></div>
            <div class="card-text">FIFA</div>
          </a>
        </div>
        <div
          class="card"
          style="--index: 5; --color-card: 252, 208, 142; --text-color: #000"
        >
          <a href="https://www.swisstennis.ch/de/" target="_blank">
            <div class="img"></div>
            <div class="card-text">Tennis</div>
          </a>
        </div>
        <div
          class="card"
          style="--index: 6; --color-card: 252, 142, 142; --text-color: #fff"
        >
          <a href="https://www.grandcasino-bern.ch/de" target="_blank">
            <div class="img"></div>
            <div class="card-text">Gambling</div>
          </a>
        </div>
        <div
          class="card"
          style="--index: 7; --color-card: 252, 142, 239; --text-color: #fff"
        >
          <a href="https://www.rocketleague.com/de" target="_blank">
            <div class="img"></div>
            <div class="card-text">Rocket League</div>
          </a>
        </div>
        <div
          class="card"
          style="--index: 8; --color-card: 204, 142, 252; --text-color: #fff"
        >
          <a href="https://aare.guru/#bern" target="_blank">
            <div class="img"></div>
            <div class="card-text">
              Aare<br />
              <span style="font-size: 0.6em">
                {{
                  currentTemperature !== null
                    ? currentTemperature + " °C"
                    : "Lädt..."
                }}
              </span>
            </div>
          </a>
        </div>
        <div
          class="card"
          style="--index: 9; --color-card: 142, 202, 252; --text-color: #000"
        >
          <a href="https://www.chelseafc.com/en" target="_blank">
            <div class="img"></div>
            <div class="card-text">Chelsea FC</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
