:host {
  display: block;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.inner {
  --w: 100px;
  --h: 150px;
  --translateZ: calc((var(--w) + var(--h)) + 0px);
  --rotateX: -15deg;
  --perspective: 1000px;
  position: relative;
  width: var(--w);
  height: var(--h);
  top: 0;
  left: auto;
  z-index: 2;
  transform-style: preserve-3d;
  transform: perspective(var(--perspective));
  animation: rotating 40s linear infinite;
}

@keyframes rotating {
  from {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(0);
  }
  to {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(1turn);
  }
}

.card {
  position: absolute;
  border: 2px solid rgba(var(--color-card));
  border-radius: 12px;
  overflow: hidden;
  inset: 0;
  transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
    translateZ(var(--translateZ));
}

.card a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.card .card-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.card a:hover .card-text {
  background-color: rgba(255, 255, 255, 0.9);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #0000
    radial-gradient(
      circle,
      rgba(var(--color-card), 0.2) 0%,
      rgba(var(--color-card), 0.6) 80%,
      rgba(var(--color-card), 0.9) 100%
    );
}

.card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  background: none;
}

.card a:hover .card-text {
  background: none;
}

.card {
  position: absolute;
  border: 2px solid rgba(var(--color-card));
  border-radius: 12px;
  overflow: hidden;
  inset: 0;
  transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
    translateZ(var(--translateZ));
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
    translateZ(var(--translateZ)) scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

h2 {
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 600; /* oder 700 für etwas fetter */
}
