<div class="section" id="me">
  <h1>Was mich begeistert</h1>

  <div class="cards-container">
    <div class="card">
      <img
        src="assets/images/cybersecurity.png"
        alt="Cyber Security Icon"
        class="card__image"
      />
      <div class="card__content">
        <p class="card__title">Cyber Security</p>
        <p class="card__description">
          Was für Gefahren lauern im Internet und wie schütze ich micht richtig?
          Diesen Fragen auf den Grund zu gehen, begeistert mich mit jeder neuen
          Entwicklung wieder!
        </p>
      </div>
    </div>

    <div class="card">
      <img
        src="assets/images/dataanalysis.png"
        alt="Data Analysis Icon"
        class="card__image"
      />
      <div class="card__content">
        <p class="card__title">Datenanalyse</p>
        <p class="card__description">
          Daten erzählen Geschichten. Ich liebe es, Muster zu entdecken und aus
          Rohdaten wertvolle Erkenntnisse zu gewinnen.
        </p>
      </div>
    </div>
  </div>
</div>
