<div class="section" id="me">
  <h1>{{ "me.title" | translate }}</h1>

  <div class="cards-container">
    <div class="card">
      <img
        src="assets/images/cybersecurity.png"
        [alt]="'me.cards.cyberSecurity.imageAlt' | translate"
        class="card__image"
      />
      <div class="card__content">
        <p class="card__title">
          {{ "me.cards.cyberSecurity.title" | translate }}
        </p>
        <p class="card__description">
          {{ "me.cards.cyberSecurity.description" | translate }}
        </p>
      </div>
    </div>

    <div class="card">
      <img
        src="assets/images/dataanalysis.png"
        [alt]="'me.cards.dataAnalysis.imageAlt' | translate"
        class="card__image"
      />
      <div class="card__content">
        <p class="card__title">
          {{ "me.cards.dataAnalysis.title" | translate }}
        </p>
        <p class="card__description">
          {{ "me.cards.dataAnalysis.description" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
