html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.fullpage-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fullpage-container::-webkit-scrollbar {
  display: none;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
