html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background-image: url(assets/images/mesh-gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

.fullpage-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fullpage-container::-webkit-scrollbar {
  display: none;
}

.section {
  height: 100vh;
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: transparent;
}

h1 {
  font-family: "Patrick Hand", cursive;
  font-size: 30px;
  color: #333;
}
